.header_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 5px 10px;
    top: 0;
    left: 0;
    flex: 0 0 auto;
    overflow: auto;
}

.header_button {
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 15px;
    margin: 10px;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    background-color: #e7e7e7;
    border: 1px solid #d8d8d8;
}

.header_button:hover {
    background-color: #91c1ef;
    box-shadow: 0 2px 4px rgba(53, 122, 189, 0.5);
}

.header_button:active {
    background-color: #6ba4da;
    box-shadow: 0 2px 4px rgba(42, 92, 138, 0.6);
    transform: translateY(2px);
}

.body_container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 5px 10px;
    top: 0;
    left: 0;
    flex: 1 1 auto;
    min-height: 0;
    min-width: 0;
}

.slides_list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 auto;
    overflow-y: scroll;
}

.slide_area {
    display: flex;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
}

.mini_slide {
    padding: 5px;
    margin: 5px;
    min-width: 300px;
    min-height: 150px;
    border: 1px solid #696969;
    border-radius: 15px;
}

.slide {
    margin: 5px;
    min-width: 900px;
    min-height: 450px;
    border: 1px solid #4d4d4d;
    border-radius: 15px;
}